test/data/separatedFiles/allImportPresent/CountingCategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CountingCategoryService" targetNamespace="http://www.example.com/interfaces/parking/operatorServices/v1"
    xmlns:tns="http://www.example.com/interfaces/parking/operatorServices/v1"
    xmlns:countingCategoryData="http://www.example.com/interfaces/parking/operatorServices/v1/data"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/interfaces/parking/operatorServices/v1">
            <xsd:import namespace="http://www.example.com/interfaces/parking/operatorServices/v1/data" schemaLocation="CountingCategoryData.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SetCountingCategoryMode">
        <wsdl:part name="SetCountingCategoryModeRequest" element="countingCategoryData:SetCountingCategoryMode"/>
    </wsdl:message>
    <wsdl:message name="SetCountingCategoryModeResponse">
        <wsdl:part name="SetCountingCategoryModeResponse" element="countingCategoryData:SetCountingCategoryModeOut"/>
    </wsdl:message>
    <wsdl:message name="SetCountingCategoryLevel">
        <wsdl:part name="SetCountingCategoryLevel" element="countingCategoryData:SetCountingCategoryLevel"/>
    </wsdl:message>
    <wsdl:message name="SetCountingCategoryLevelResponse">
        <wsdl:part name="SetCountingCategoryLevelResponse" element="countingCategoryData:SetCountingCategoryLevelOut"/>
    </wsdl:message>
    <wsdl:message name="SetExternalCountingMode">
        <wsdl:part name="SetExternalCountingMode" element="countingCategoryData:SetExternalCountingMode"/>
    </wsdl:message>
    <wsdl:message name="SetExternalCountingModeResponse">
        <wsdl:part name="SetExternalCountingModeResponse" element="countingCategoryData:SetExternalCountingModeOut"/>
    </wsdl:message>


    <wsdl:portType name="CountingCategoryServiceInterface">
        <wsdl:operation name="SetCountingCategoryMode">
            <wsdl:input name="SetCountingCategoryModeRequest" message="tns:SetCountingCategoryMode"/>
            <wsdl:output name="SetCountingCategoryModeResponse" message="tns:SetCountingCategoryModeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SetCountingCategoryLevel">
            <wsdl:input name="SetCountingCategoryLevelRequest" message="tns:SetCountingCategoryLevel"/>
            <wsdl:output name="SetCountingCategoryLevelResponse" message="tns:SetCountingCategoryLevelResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SetExternalCountingMode">
            <wsdl:input name="SetExternalCountingModeRequest" message="tns:SetExternalCountingMode"/>
            <wsdl:output name="SetExternalCountingModeResponse" message="tns:SetExternalCountingModeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="example.CountingCategoryServiceBinding" type="tns:CountingCategoryServiceInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SetCountingCategoryMode">
            <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetCountingCategoryMode" style="document"/>
            <wsdl:input name="SetCountingCategoryModeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetCountingCategoryModeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetCountingCategoryLevel">
            <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetCountingCategoryLevel" style="document"/>
            <wsdl:input name="SetCountingCategoryLevelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetCountingCategoryLevelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetExternalCountingMode">
            <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetExternalCountingMode" style="document"/>
            <wsdl:input name="SetExternalCountingModeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetExternalCountingModeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="example.CountingCategoryService">
        <wsdl:port name="example.CountingCategoryServicePort" binding="tns:example.CountingCategoryServiceBinding">
            <soap:address location="http://www.example.com/interfaces/parking/operatorServices/v1/CountingCategoryService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
