test/data/schemaTest/4Root1ChildPerRoot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="http://www.dataaccess.com/webservicesserver/" name="NumberConversion" targetNamespace="http://www.dataaccess.com/webservicesserver/">
    <types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.dataaccess.com/webservicesserver/">
            <xs:element name="NumberToWords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ubiNum" type="xs:unsignedLong"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NumberToWordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NumberToWordsResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NumberToDollars">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dNum" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NumberToDollarsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NumberToDollarsResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
</definitions>
