test/data/validWSDLs20/2BindingByMessageElement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<description xmlns="http://www.w3.org/ns/wsdl"
  xmlns:tns="http://www.tmsws.com/wsdl20sample"
  xmlns:whttp="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.tmsws.com/wsdl20sample">

  <documentation>
    This is a sample WSDL 2.0 document. 
  </documentation>

  <!-- Abstract type -->
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request">
        <xs:complexType>
          <xs:all>
            <xs:element name="tickerSymbol" type="xs:string" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="response">
        <xs:complexType>
          <xs:all>
            <xs:element name="price" type="xs:float" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <!-- Abstract interfaces -->
  <interface name="Interface1">
    <fault name="Error1" element="tns:response" />
    <operation name="Get" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In" element="tns:request" />
      <output messageLabel="Out" element="tns:response" />
    </operation>
    <operation name="Get2" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In" element="tns:request" />
      <output messageLabel="Out" element="tns:response" />
    </operation>
  </interface>

  <!-- Concrete Binding with SOAP-->
  <binding name="SoapBinding" interface="tns:Interface1" type="http://www.w3.org/ns/wsdl/soap" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/" wsoap:mepDefault="http://www.w3.org/2003/05/soap/mep/request-response">
    <operation ref="tns:Get" />
    <operation ref="tns:Get2" />
  </binding>

  <!-- Web Service offering endpoints for both bindings-->
  <service name="Service1" interface="tns:Interface1">
    <endpoint name="SoapEndpoint" binding="tns:SoapBinding" address="http://www.example.com/soap/" />
  </service>
</description>
