test/data/profixio/getActivitySessions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getActivitySessions.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getActivitySessions" targetNamespace="http://www.profixio.com/soap/services/getActivitySessions.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getActivitySessions.php">
            <xsd:element name="getActivitySessions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="activityID" type="xsd:int" nillable="true"/>
                        <xsd:element name="fromWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="toWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="fromDate" type="xsd:date" nillable="true"/>
                        <xsd:element name="toDate" type="xsd:date" nillable="true"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="singleSession">
                <xsd:sequence>
                    <xsd:element name="activityID" type="xsd:int" nillable="true"/>
                    <xsd:element name="date" type="xsd:date" nillable="true"/>
                    <xsd:element name="sessionPrice" type="xsd:string" nillable="true"/>
                    <xsd:element name="availablePlaces" type="xsd:int" nillable="true"/>
                    <xsd:element name="openForRegistration" type="xsd:int" nillable="true"/>
                    <xsd:element name="isRegistered" type="xsd:int" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSingleSession">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:singleSession" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getActivitySessionsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getActivitySessionsResult" type="tns:ArrayOfSingleSession"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getActivitySessionsPort">
        <operation name="getActivitySessions">
            <documentation>Used for Grouptraining only  format weeknbr: YYYY.WW format date: YYYY-MM-DD Date may be empty. Overrides week if given</documentation>
            <input message="tns:getActivitySessionsIn"/>
            <output message="tns:getActivitySessionsOut"/>
        </operation>
    </portType>
    <binding name="getActivitySessionsBinding" type="tns:getActivitySessionsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getActivitySessions">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getActivitySessions.php#getActivitySessions"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getActivitySessionsService">
        <port name="getActivitySessionsPort" binding="tns:getActivitySessionsBinding">
            <soap:address location="http://www.profixio.com/soap/services/getActivitySessions.php"/>
        </port>
    </service>
    <message name="getActivitySessionsIn">
        <part name="parameters" element="tns:getActivitySessions"/>
    </message>
    <message name="getActivitySessionsOut">
        <part name="parameters" element="tns:getActivitySessionsResponse"/>
    </message>
</definitions>

