test/data/profixio/getActivityByUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getActivityByUser.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getActivityByUser" targetNamespace="http://www.profixio.com/soap/services/getActivityByUser.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getActivityByUser.php">
            <xsd:element name="getActivityByUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                        <xsd:element name="username" type="xsd:string" nillable="true"/>
                        <xsd:element name="password" type="xsd:string" nillable="true"/>
                        <xsd:element name="role" type="xsd:string" nillable="true"/>
                        <xsd:element name="fromWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="toWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="fromDate" type="xsd:date" nillable="true"/>
                        <xsd:element name="toDate" type="xsd:date" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="userActivity">
                <xsd:all>
                    <xsd:element name="activityID" type="xsd:int" nillable="true"/>
                    <xsd:element name="registrationStatus" type="xsd:int" nillable="true"/>
                    <xsd:element name="registrationStatusText" type="xsd:int" nillable="true"/>
                    <xsd:element name="singleSession" type="xsd:int" nillable="true"/>
                    <xsd:element name="singleSessionDate" type="xsd:string" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfUserActivity">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:userActivity" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getActivityByUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getActivityByUserResult" type="tns:ArrayOfUserActivity"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getActivityByUserPort">
        <operation name="getActivityByUser">
            <documentation>Used for Grouptraining only  format weeknbr: YYYY.WW format date: YYYY-MM-DD Date may be empty. Overrides week if given</documentation>
            <input message="tns:getActivityByUserIn"/>
            <output message="tns:getActivityByUserOut"/>
        </operation>
    </portType>
    <binding name="getActivityByUserBinding" type="tns:getActivityByUserPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getActivityByUser">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getActivityByUser.php#getActivityByUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getActivityByUserService">
        <port name="getActivityByUserPort" binding="tns:getActivityByUserBinding">
            <soap:address location="http://www.profixio.com/soap/services/getActivityByUser.php"/>
        </port>
    </service>
    <message name="getActivityByUserIn">
        <part name="parameters" element="tns:getActivityByUser"/>
    </message>
    <message name="getActivityByUserOut">
        <part name="parameters" element="tns:getActivityByUserResponse"/>
    </message>
</definitions>
