test/data/profixio/getTopScorers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getTopScorers.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getTopScorers" targetNamespace="http://www.profixio.com/soap/services/getTopScorers.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getTopScorers.php">
            <xsd:element name="getTopScorers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="competitionId" type="xsd:string" nillable="true"/>
                        <xsd:element name="topNumber" type="xsd:int" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Scorer">
                <xsd:sequence>
                    <xsd:element name="PlayerName" type="xsd:string" nillable="true"/>
                    <xsd:element name="TeamName" type="xsd:string" nillable="true"/>
                    <xsd:element name="Goals" type="xsd:int" nillable="true"/>
                    <xsd:element name="Played" type="xsd:int" nillable="true"/>
                    <xsd:element name="Assist" type="xsd:int" nillable="true"/>
                    <xsd:element name="Points" type="xsd:int" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfScorer">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Scorer" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getTopScorersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getTopScorersResult" type="tns:ArrayOfScorer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getTopScorersPort">
        <operation name="getTopScorers">
            <documentation>Used by Associations only.</documentation>
            <input message="tns:getTopScorersIn"/>
            <output message="tns:getTopScorersOut"/>
        </operation>
    </portType>
    <binding name="getTopScorersBinding" type="tns:getTopScorersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getTopScorers">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getTopScorers.php#getTopScorers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getTopScorersService">
        <port name="getTopScorersPort" binding="tns:getTopScorersBinding">
            <soap:address location="http://www.profixio.com/soap/services/getTopScorers.php"/>
        </port>
    </service>
    <message name="getTopScorersIn">
        <part name="parameters" element="tns:getTopScorers"/>
    </message>
    <message name="getTopScorersOut">
        <part name="parameters" element="tns:getTopScorersResponse"/>
    </message>
</definitions>
