test/data/separatedFiles/counting/output.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CountingCategoryService" targetNamespace="http://www.example.com/interfaces/parking/operatorServices/v1"
  xmlns:tns="http://www.example.com/interfaces/parking/operatorServices/v1"
  xmlns:countingCategoryData="http://www.example.com/interfaces/parking/operatorServices/v1/data"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/interfaces/parking/operatorServices/v1/data"
      xmlns:tns="http://www.example.com/interfaces/parking/operatorServices/v1/data" elementFormDefault="qualified">
      <element name="SetCountingCategoryMode">
        <complexType>
          <sequence>
            <element name="facilityId" type="long" />
            <element name="carParkNumber" type="int" />
            <element name="countingCategoryType" type="tns:countingCategoryType" />
            <element name="trafficSignalMode" type="tns:trafficSignalMode" />
          </sequence>
        </complexType>
      </element>
      <element name="SetCountingCategoryModeOut">
        <complexType>
          <sequence>
            <element name="SetCountingCategoryModeResponse" type="tns:SetCountingCategoryModeResponse" />
          </sequence>
        </complexType>
      </element>
      <complexType name="SetCountingCategoryModeResponse">
        <sequence />
      </complexType>
      <element name="SetCountingCategoryLevel">
        <complexType>
          <sequence>
            <element name="facilityId" type="long" />
            <element name="carParkNumber" type="int" />
            <element name="countingCategoryType" type="tns:countingCategoryType" />
            <element name="currentLevel" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SetCountingCategoryLevelOut">
        <complexType>
          <sequence>
            <element name="SetCountingCategoryLevelResponse" type="tns:SetCountingCategoryLevelResponse" />
          </sequence>
        </complexType>
      </element>
      <complexType name="SetCountingCategoryLevelResponse">
        <sequence />
      </complexType>
      <element name="SetExternalCountingMode">
        <complexType>
          <sequence>
            <element name="facilityId" type="long" />
          </sequence>
        </complexType>
      </element>
      <element name="SetExternalCountingModeOut">
        <complexType>
          <sequence>
            <element name="SetExternalCountingModeResponse" type="tns:SetExternalCountingModeResponse" />
          </sequence>
        </complexType>
      </element>
      <complexType name="SetExternalCountingModeResponse">
        <sequence />
      </complexType>
      <simpleType name="trafficSignalMode">
        <restriction base="string">
          <enumeration value="AUTOMATIC" />
          <enumeration value="MANUAL_GREEN_FREE" />
          <enumeration value="MANUAL_RED_FULL" />
        </restriction>
      </simpleType>
      <simpleType name="countingCategoryType">
        <restriction base="string">
          <enumeration value="DEFAULT_COUNTING_CATEGORY_00" />
          <enumeration value="SHORT_TERM_PARKER_01" />
          <enumeration value="CONTRACT_PARKER_02" />
          <enumeration value="TOTAL_03" />
          <enumeration value="USER_DEFINED_04" />
          <enumeration value="USER_DEFINED_05" />
          <enumeration value="USER_DEFINED_06" />
          <enumeration value="USER_DEFINED_07" />
          <enumeration value="USER_DEFINED_08" />
          <enumeration value="USER_DEFINED_09" />
          <enumeration value="USER_DEFINED_10" />
          <enumeration value="USER_DEFINED_11" />
          <enumeration value="USER_DEFINED_12" />
          <enumeration value="USER_DEFINED_13" />
          <enumeration value="USER_DEFINED_14" />
          <enumeration value="USER_DEFINED_15" />
          <enumeration value="USER_DEFINED_16" />
          <enumeration value="USER_DEFINED_17" />
          <enumeration value="USER_DEFINED_18" />
          <enumeration value="USER_DEFINED_19" />
          <enumeration value="USER_DEFINED_20" />
          <enumeration value="USER_DEFINED_21" />
          <enumeration value="USER_DEFINED_22" />
          <enumeration value="USER_DEFINED_23" />
          <enumeration value="USER_DEFINED_24" />
          <enumeration value="USER_DEFINED_25" />
          <enumeration value="USER_DEFINED_26" />
          <enumeration value="USER_DEFINED_27" />
          <enumeration value="USER_DEFINED_28" />
          <enumeration value="USER_DEFINED_29" />
          <enumeration value="USER_DEFINED_30" />
          <enumeration value="USER_DEFINED_31" />
          <enumeration value="USER_DEFINED_32" />
          <enumeration value="USER_DEFINED_33" />
          <enumeration value="USER_DEFINED_34" />
          <enumeration value="USER_DEFINED_35" />
          <enumeration value="USER_DEFINED_36" />
          <enumeration value="USER_DEFINED_37" />
          <enumeration value="USER_DEFINED_38" />
          <enumeration value="USER_DEFINED_39" />
          <enumeration value="USER_DEFINED_40" />
          <enumeration value="USER_DEFINED_41" />
          <enumeration value="USER_DEFINED_42" />
          <enumeration value="USER_DEFINED_43" />
          <enumeration value="USER_DEFINED_44" />
          <enumeration value="USER_DEFINED_45" />
          <enumeration value="USER_DEFINED_46" />
          <enumeration value="USER_DEFINED_47" />
          <enumeration value="USER_DEFINED_48" />
          <enumeration value="USER_DEFINED_49" />
          <enumeration value="USER_DEFINED_50" />
          <enumeration value="USER_DEFINED_51" />
          <enumeration value="USER_DEFINED_52" />
          <enumeration value="USER_DEFINED_53" />
        </restriction>
      </simpleType>
    </schema>
  </wsdl:types>
  <wsdl:message name="SetCountingCategoryMode">
    <wsdl:part name="SetCountingCategoryModeRequest" element="countingCategoryData:SetCountingCategoryMode" />
  </wsdl:message>
  <wsdl:message name="SetCountingCategoryModeResponse">
    <wsdl:part name="SetCountingCategoryModeResponse" element="countingCategoryData:SetCountingCategoryModeOut" />
  </wsdl:message>
  <wsdl:message name="SetCountingCategoryLevel">
    <wsdl:part name="SetCountingCategoryLevel" element="countingCategoryData:SetCountingCategoryLevel" />
  </wsdl:message>
  <wsdl:message name="SetCountingCategoryLevelResponse">
    <wsdl:part name="SetCountingCategoryLevelResponse" element="countingCategoryData:SetCountingCategoryLevelOut" />
  </wsdl:message>
  <wsdl:message name="SetExternalCountingMode">
    <wsdl:part name="SetExternalCountingMode" element="countingCategoryData:SetExternalCountingMode" />
  </wsdl:message>
  <wsdl:message name="SetExternalCountingModeResponse">
    <wsdl:part name="SetExternalCountingModeResponse" element="countingCategoryData:SetExternalCountingModeOut" />
  </wsdl:message>
  <wsdl:portType name="CountingCategoryServiceInterface">
    <wsdl:operation name="SetCountingCategoryMode">
      <wsdl:input name="SetCountingCategoryModeRequest" message="tns:SetCountingCategoryMode" />
      <wsdl:output name="SetCountingCategoryModeResponse" message="tns:SetCountingCategoryModeResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetCountingCategoryLevel">
      <wsdl:input name="SetCountingCategoryLevelRequest" message="tns:SetCountingCategoryLevel" />
      <wsdl:output name="SetCountingCategoryLevelResponse" message="tns:SetCountingCategoryLevelResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetExternalCountingMode">
      <wsdl:input name="SetExternalCountingModeRequest" message="tns:SetExternalCountingMode" />
      <wsdl:output name="SetExternalCountingModeResponse" message="tns:SetExternalCountingModeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="example.CountingCategoryServiceBinding" type="tns:CountingCategoryServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCountingCategoryMode">
      <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetCountingCategoryMode" style="document" />
      <wsdl:input name="SetCountingCategoryModeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetCountingCategoryModeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCountingCategoryLevel">
      <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetCountingCategoryLevel" style="document" />
      <wsdl:input name="SetCountingCategoryLevelRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetCountingCategoryLevelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExternalCountingMode">
      <soap:operation soapAction="http://www.example.com/interfaces/parking/operatorServices/v1/SetExternalCountingMode" style="document" />
      <wsdl:input name="SetExternalCountingModeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetExternalCountingModeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="example.CountingCategoryService">
    <wsdl:port name="example.CountingCategoryServicePort" binding="tns:example.CountingCategoryServiceBinding">
      <soap:address location="http://www.example.com/interfaces/parking/operatorServices/v1/CountingCategoryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
