test/data/validWSDLs11/2schemasValid.wsdl

<wsdl:definitions xmlns:ns1="http://common.services.adyen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://account.marketplace.services.adyen.com"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  targetNamespace="http://account.marketplace.services.adyen.com">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" 
      targetNamespace="http://account.marketplace.services.adyen.com">
      <xsd:import namespace="http://common.services.adyen.com" />
      <xsd:element name="AccountHolderDetails">
        	<xsd:complexType>
            	<xsd:sequence>
                	 <xsd:element minOccurs="0" name="address" nillable="true" type="Address" />
            	</xsd:sequence>
        	</xsd:complexType>
   	 </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.services.adyen.com">
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FahrenheitToCelsiusSoapIn">
    <wsdl:part name="Body" element="tns:AccountHolderDetails" />
</wsdl:message>
<wsdl:portType name="TempConvertSoap">
    <wsdl:operation name="FahrenheitToCelsius">
        <wsdl:input message="tns:FahrenheitToCelsiusSoapIn" />
        <wsdl:output message="tns:FahrenheitToCelsiusSoapIn" />
    </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TempConvertSoap" type="tns:TempConvertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FahrenheitToCelsius">
        <soap:operation soapAction="https://www.w3schools.com/xml/FahrenheitToCelsius" style="document" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="TempConvert">
    <wsdl:port name="TempConvertSoap" binding="tns:TempConvertSoap">
        <soap:address location="http://www.w3schools.com/xml/tempconvert.asmx" />
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>
