test/data/validWSDLs11/emptyMessagesIssue.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:wd-wsdl="some/url/Human_Resources" 
  xmlns:wd="some/url" 
  xmlns:nyw="nywurl/aod" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:httpbind="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mimebind="http://schemas.xmlsoap.org/wsdl/mime/"
  name="Human_Resources" 
  targetNamespace="some/url/Human_Resources">
  <wsdl:documentation>The Human Resources Web Service contains operations that expose Workday Human Capital Management Business Services data, including Employee, Contingent Worker and Organization information. This Web Service can be used for integration with enterprise systems including corporate directories, data analysis tools, email or other provisioning sub-systems, or any other systems needing Worker and/or Organization data.</wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="some/url">
      <xsd:element name="Organization_Structure_Dissolve" type="wd:Organization_Structure_DissolveType"/>

      <xsd:complexType name="Organization_Structure_DissolveType">
        <xsd:sequence>
          <xsd:element name="Organization_Reference_Data" type="xsd:string"/>
          <xsd:element name="Organization_Structure_Dissolve_Data" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="Dissolve_Organization_StructureOutputMsg"/>

  <wsdl:message name="Organization_Structure_DissolveInputMsg">
    <wsdl:part name="body" element="wd:Organization_Structure_Dissolve"/>
  </wsdl:message>
  
  <wsdl:message name="Workday_Common_HeaderMsg">
    <wsdl:part name="header" element="wd:Workday_Common_Header"/>
  </wsdl:message>

  <wsdl:portType name="Human_ResourcesPort">
    <wsdl:operation name="Dissolve_Organization_Structure">
      <wsdl:documentation>this is documentation.</wsdl:documentation>
      <wsdl:input name="Dissolve_Organization_StructureInput" message="wd-wsdl:Organization_Structure_DissolveInputMsg"/>
      <wsdl:output name="Dissolve_Organization_StructureOutput" message="wd-wsdl:Dissolve_Organization_StructureOutputMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Human_ResourcesBinding" type="wd-wsdl:Human_ResourcesPort">
    <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="Dissolve_Organization_Structure">
      <soapbind:operation style="document"/>
      <wsdl:input name="Dissolve_Organization_StructureInput">
        <soapbind:body use="literal"/>
        <soapbind:header message="wd-wsdl:Workday_Common_HeaderMsg" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="Dissolve_Organization_StructureOutput">
        <soapbind:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="Human_ResourcesService">
    <wsdl:port name="Human_Resources" binding="wd-wsdl:Human_ResourcesBinding">
      <soapbind:address location="Human_Resources"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
