test/data/validWSDLs11/getActivityByID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getActivityByID.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getActivityByID" targetNamespace="http://{{url}}/soap/services/getActivityByID.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getActivityByID.php">
            <xsd:element name="getActivityByID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                        <xsd:element name="activityID" type="xsd:int" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Activity">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="subtype" type="xsd:string" nillable="true"/>
                    <xsd:element name="description" type="xsd:string" nillable="true"/>
                    <xsd:element name="fee" type="xsd:string" nillable="true"/>
                    <xsd:element name="info" type="xsd:string" nillable="true"/>
                    <xsd:element name="day" type="xsd:int" nillable="true"/>
                    <xsd:element name="time" type="xsd:string" nillable="true"/>
                    <xsd:element name="duration" type="xsd:string" nillable="true"/>
                    <xsd:element name="fromdate" type="xsd:date" nillable="true"/>
                    <xsd:element name="todate" type="xsd:date" nillable="true"/>
                    <xsd:element name="break" type="xsd:string" nillable="true"/>
                    <xsd:element name="nbroftimes" type="xsd:int" nillable="true"/>
                    <xsd:element name="trialsession" type="xsd:int" nillable="true"/>
                    <xsd:element name="instructor" type="xsd:string" nillable="true"/>
                    <xsd:element name="facilityArea" type="xsd:string" nillable="true"/>
                    <xsd:element name="facility" type="xsd:string" nillable="true"/>
                    <xsd:element name="facilityAdress" type="xsd:string" nillable="true"/>
                    <xsd:element name="faciltyPnbr" type="xsd:string" nillable="true"/>
                    <xsd:element name="faciltyCity" type="xsd:string" nillable="true"/>
                    <xsd:element name="singleSession" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getActivityByIDResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getActivityByIDResult" type="tns:Activity"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getActivityByIDPort">
        <operation name="getActivityByID">
            <documentation>Used for Grouptraining only</documentation>
            <input message="tns:getActivityByIDIn"/>
            <output message="tns:getActivityByIDOut"/>
        </operation>
    </portType>
    <binding name="getActivityByIDBinding" type="tns:getActivityByIDPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getActivityByID">
            <soap:operation soapAction="http://{{url}}/soap/services/getActivityByID.php#getActivityByID"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getActivityByIDService">
        <port name="getActivityByIDPort" binding="tns:getActivityByIDBinding">
            <soap:address location="http://{{url}}/soap/services/getActivityByID.php"/>
        </port>
    </service>
    <message name="getActivityByIDIn">
        <part name="parameters" element="tns:getActivityByID"/>
    </message>
    <message name="getActivityByIDOut">
        <part name="parameters" element="tns:getActivityByIDResponse"/>
    </message>
</definitions>
