test/data/validWSDLs11/getActivityCalendar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getActivityCalendar.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getActivityCalendar" targetNamespace="http://{{url}}/soap/services/getActivityCalendar.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getActivityCalendar.php">
            <xsd:element name="getActivityCalendar">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="fromWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="toWeekNbr" type="xsd:string" nillable="true"/>
                        <xsd:element name="fromDate" type="xsd:date" nillable="true"/>
                        <xsd:element name="toDate" type="xsd:date" nillable="true"/>
                        <xsd:element name="activityID" type="xsd:int" nillable="true"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                        <xsd:element name="singleSessionOnly" type="xsd:int" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="calendar">
                <xsd:sequence>
                    <xsd:element name="date" type="xsd:date" nillable="true"/>
                    <xsd:element name="activityid" type="xsd:int" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="info" type="xsd:string" nillable="true"/>
                    <xsd:element name="singlesessions" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCalendar">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:calendar" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getActivityCalendarResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getActivityCalendarResult" type="tns:ArrayOfCalendar"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getActivityCalendarPort">
        <operation name="getActivityCalendar">
            <documentation>Used for Grouptraining only  format weeknbr: YYYY.WW format date: YYYY-MM-DD Date may be empty. Overrides week if given</documentation>
            <input message="tns:getActivityCalendarIn"/>
            <output message="tns:getActivityCalendarOut"/>
        </operation>
    </portType>
    <binding name="getActivityCalendarBinding" type="tns:getActivityCalendarPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getActivityCalendar">
            <soap:operation soapAction="http://{{url}}/soap/services/getActivityCalendar.php#getActivityCalendar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getActivityCalendarService">
        <port name="getActivityCalendarPort" binding="tns:getActivityCalendarBinding">
            <soap:address location="http://{{url}}/soap/services/getActivityCalendar.php"/>
        </port>
    </service>
    <message name="getActivityCalendarIn">
        <part name="parameters" element="tns:getActivityCalendar"/>
    </message>
    <message name="getActivityCalendarOut">
        <part name="parameters" element="tns:getActivityCalendarResponse"/>
    </message>
</definitions>
