test/data/validWSDLs11/getAllPlayersForTournament.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="url/soap/services/getAllPlayersForTournament.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getAllPlayersForTournament" targetNamespace="url/soap/services/getAllPlayersForTournament.php">
    <types>
        <xsd:schema targetNamespace="url/soap/services/getAllPlayersForTournament.php">
            <xsd:element name="getAllPlayersForTournament">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="tournamentID" type="xsd:string" nillable="true"/>
                        <xsd:element name="password" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="TournamentPlayer">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="teamID" type="xsd:int" nillable="true"/>
                    <xsd:element name="TournamentTeamRegistrationId" type="xsd:int" nillable="true"/>
                    <xsd:element name="shirtnbr" type="xsd:string" nillable="true"/>
                    <xsd:element name="firstname" type="xsd:string" nillable="true"/>
                    <xsd:element name="lastname" type="xsd:string" nillable="true"/>
                    <xsd:element name="borndate" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTournamentPlayer">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:TournamentPlayer" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllPlayersForTournamentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllPlayersForTournamentResult" type="tns:ArrayOfTournamentPlayer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getAllPlayersForTournamentPort">
        <operation name="getAllPlayersForTournament">
            <documentation>Returns playerdetails including teamID for players in a Tournament.</documentation>
            <input message="tns:getAllPlayersForTournamentIn"/>
            <output message="tns:getAllPlayersForTournamentOut"/>
        </operation>
    </portType>
    <binding name="getAllPlayersForTournamentBinding" type="tns:getAllPlayersForTournamentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllPlayersForTournament">
            <soap:operation soapAction="url/soap/services/getAllPlayersForTournament.php#getAllPlayersForTournament"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getAllPlayersForTournamentService">
        <port name="getAllPlayersForTournamentPort" binding="tns:getAllPlayersForTournamentBinding">
            <soap:address location="url/soap/services/getAllPlayersForTournament.php"/>
        </port>
    </service>
    <message name="getAllPlayersForTournamentIn">
        <part name="parameters" element="tns:getAllPlayersForTournament"/>
    </message>
    <message name="getAllPlayersForTournamentOut">
        <part name="parameters" element="tns:getAllPlayersForTournamentResponse"/>
    </message>
</definitions>
