test/data/validWSDLs11/getAllActivityTypesForAssociation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="url/soap/services/getAllActivityTypesForAssociation.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getAllActivityTypesForAssociation" targetNamespace="url/soap/services/getAllActivityTypesForAssociation.php">
    <types>
        <xsd:schema targetNamespace="url/soap/services/getAllActivityTypesForAssociation.php">
            <xsd:element name="getAllActivityTypesForAssociation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="seasonID" type="xsd:int" nillable="true"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ActivityTypes">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="description" type="xsd:string" nillable="true"/>
                    <xsd:element name="teamsport" type="xsd:int" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfActivityTypes">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ActivityTypes" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllActivityTypesForAssociationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllActivityTypesForAssociationResult" type="tns:ArrayOfActivityTypes"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getAllActivityTypesForAssociationPort">
        <operation name="getAllActivityTypesForAssociation">
            <documentation>Used for Grouptraining only</documentation>
            <input message="tns:getAllActivityTypesForAssociationIn"/>
            <output message="tns:getAllActivityTypesForAssociationOut"/>
        </operation>
    </portType>
    <binding name="getAllActivityTypesForAssociationBinding" type="tns:getAllActivityTypesForAssociationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllActivityTypesForAssociation">
            <soap:operation soapAction="url/soap/services/getAllActivityTypesForAssociation.php#getAllActivityTypesForAssociation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getAllActivityTypesForAssociationService">
        <port name="getAllActivityTypesForAssociationPort" binding="tns:getAllActivityTypesForAssociationBinding">
            <soap:address location="url/soap/services/getAllActivityTypesForAssociation.php"/>
        </port>
    </service>
    <message name="getAllActivityTypesForAssociationIn">
        <part name="parameters" element="tns:getAllActivityTypesForAssociation"/>
    </message>
    <message name="getAllActivityTypesForAssociationOut">
        <part name="parameters" element="tns:getAllActivityTypesForAssociationResponse"/>
    </message>
</definitions>
