test/data/validWSDLs11/getAllRegionsForAssociation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getAllRegionsForAssociation.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getAllRegionsForAssociation" targetNamespace="http://www.profixio.com/soap/services/getAllRegionsForAssociation.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getAllRegionsForAssociation.php">
            <xsd:element name="getAllRegionsForAssociation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Region">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="association_id" type="xsd:string" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactperson" type="xsd:string" nillable="true"/>
                    <xsd:element name="street_address" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_code" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_town" type="xsd:string" nillable="true"/>
                    <xsd:element name="cell_phone" type="xsd:string" nillable="true"/>
                    <xsd:element name="email" type="xsd:string" nillable="true"/>
                    <xsd:element name="account" type="xsd:string" nillable="true"/>
                    <xsd:element name="legacyid" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegion">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Region" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllRegionsForAssociationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllRegionsForAssociationResult" type="tns:ArrayOfRegion"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getAllRegionsForAssociationPort">
        <operation name="getAllRegionsForAssociation">
            <documentation>Used by Associations only</documentation>
            <input message="tns:getAllRegionsForAssociationIn"/>
            <output message="tns:getAllRegionsForAssociationOut"/>
        </operation>
    </portType>
    <binding name="getAllRegionsForAssociationBinding" type="tns:getAllRegionsForAssociationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllRegionsForAssociation">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getAllRegionsForAssociation.php#getAllRegionsForAssociation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getAllRegionsForAssociationService">
        <port name="getAllRegionsForAssociationPort" binding="tns:getAllRegionsForAssociationBinding">
            <soap:address location="http://www.profixio.com/soap/services/getAllRegionsForAssociation.php"/>
        </port>
    </service>
    <message name="getAllRegionsForAssociationIn">
        <part name="parameters" element="tns:getAllRegionsForAssociation"/>
    </message>
    <message name="getAllRegionsForAssociationOut">
        <part name="parameters" element="tns:getAllRegionsForAssociationResponse"/>
    </message>
</definitions>
