test/data/validWSDLs11/getAllClubsForAssociation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getAllClubsForAssociation.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getAllClubsForAssociation" targetNamespace="http://www.profixio.com/soap/services/getAllClubsForAssociation.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getAllClubsForAssociation.php">
            <xsd:element name="getAllClubsForAssociation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Club">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="shortname" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactperson" type="xsd:string" nillable="true"/>
                    <xsd:element name="street_address" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_code" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_town" type="xsd:string" nillable="true"/>
                    <xsd:element name="mobile_phone" type="xsd:string" nillable="true"/>
                    <xsd:element name="email" type="xsd:string" nillable="true"/>
                    <xsd:element name="region_id" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfClub">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Club" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllClubsForAssociationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllClubsForAssociationResult" type="tns:ArrayOfClub"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getAllClubsForAssociationPort">
        <operation name="getAllClubsForAssociation">
            <documentation>Used by Associations only</documentation>
            <input message="tns:getAllClubsForAssociationIn"/>
            <output message="tns:getAllClubsForAssociationOut"/>
        </operation>
    </portType>
    <binding name="getAllClubsForAssociationBinding" type="tns:getAllClubsForAssociationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllClubsForAssociation">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getAllClubsForAssociation.php#getAllClubsForAssociation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getAllClubsForAssociationService">
        <port name="getAllClubsForAssociationPort" binding="tns:getAllClubsForAssociationBinding">
            <soap:address location="http://www.profixio.com/soap/services/getAllClubsForAssociation.php"/>
        </port>
    </service>
    <message name="getAllClubsForAssociationIn">
        <part name="parameters" element="tns:getAllClubsForAssociation"/>
    </message>
    <message name="getAllClubsForAssociationOut">
        <part name="parameters" element="tns:getAllClubsForAssociationResponse"/>
    </message>
</definitions>
