test/data/validWSDLs11/getAllTeamsForTournament.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getAllTeamsForTournament.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getAllTeamsForTournament" targetNamespace="http://{{url}}/soap/services/getAllTeamsForTournament.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getAllTeamsForTournament.php">
            <xsd:element name="getAllTeamsForTournament">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="tournamentID" type="xsd:int" nillable="true"/>
                        <xsd:element name="password" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="TournamentTeam">
                <xsd:sequence>
                    <xsd:element name="TournamentTeamRegistrationId" type="xsd:int" nillable="true"/>
                    <xsd:element name="TournamentClubRegistrationId" type="xsd:int" nillable="true"/>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="name" type="xsd:string" nillable="true"/>
                    <xsd:element name="clubid" type="xsd:int" nillable="true"/>
                    <xsd:element name="MatchGroupId" type="xsd:int" nillable="true"/>
                    <xsd:element name="MatchClassId" type="xsd:int" nillable="true"/>
                    <xsd:element name="UpdateTimestamp" type="xsd:string" nillable="true"/>
                    <xsd:element name="ShirtColor" type="xsd:string" nillable="true"/>
                    <xsd:element name="countryCode" type="xsd:string" nillable="true"/>
                    <xsd:element name="GlobalClubId" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTournamentTeam">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:TournamentTeam" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllTeamsForTournamentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllTeamsForTournamentResult" type="tns:ArrayOfTournamentTeam"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getAllTeamsForTournamentPort">
        <operation name="getAllTeamsForTournament">
            <documentation>Returns the teams that play matches in a Tournament.</documentation>
            <input message="tns:getAllTeamsForTournamentIn"/>
            <output message="tns:getAllTeamsForTournamentOut"/>
        </operation>
    </portType>
    <binding name="getAllTeamsForTournamentBinding" type="tns:getAllTeamsForTournamentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllTeamsForTournament">
            <soap:operation soapAction="http://{{url}}/soap/services/getAllTeamsForTournament.php#getAllTeamsForTournament"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getAllTeamsForTournamentService">
        <port name="getAllTeamsForTournamentPort" binding="tns:getAllTeamsForTournamentBinding">
            <soap:address location="http://{{url}}/soap/services/getAllTeamsForTournament.php"/>
        </port>
    </service>
    <message name="getAllTeamsForTournamentIn">
        <part name="parameters" element="tns:getAllTeamsForTournament"/>
    </message>
    <message name="getAllTeamsForTournamentOut">
        <part name="parameters" element="tns:getAllTeamsForTournamentResponse"/>
    </message>
</definitions>
