test/data/validWSDLs11/getClubLicenceKey.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getClubLicenceKey.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getClubLicenceKey" targetNamespace="http://{{url}}/soap/services/getClubLicenceKey.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getClubLicenceKey.php">
            <xsd:element name="getClubLicenceKey">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="club_id" type="xsd:int" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ClubLicence">
                <xsd:sequence>
                    <xsd:element name="club_name" type="xsd:string" nillable="true"/>
                    <xsd:element name="club_licence_key" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getClubLicenceKeyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getClubLicenceKeyResult" type="tns:ClubLicence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getClubLicenceKeyPort">
        <operation name="getClubLicenceKey">
            <documentation>Used by Associations only</documentation>
            <input message="tns:getClubLicenceKeyIn"/>
            <output message="tns:getClubLicenceKeyOut"/>
        </operation>
    </portType>
    <binding name="getClubLicenceKeyBinding" type="tns:getClubLicenceKeyPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getClubLicenceKey">
            <soap:operation soapAction="http://{{url}}/soap/services/getClubLicenceKey.php#getClubLicenceKey"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getClubLicenceKeyService">
        <port name="getClubLicenceKeyPort" binding="tns:getClubLicenceKeyBinding">
            <soap:address location="http://{{url}}/soap/services/getClubLicenceKey.php"/>
        </port>
    </service>
    <message name="getClubLicenceKeyIn">
        <part name="parameters" element="tns:getClubLicenceKey"/>
    </message>
    <message name="getClubLicenceKeyOut">
        <part name="parameters" element="tns:getClubLicenceKeyResponse"/>
    </message>
</definitions>
