test/data/validWSDLs11/getCompetition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/getCompetition.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getCompetition" targetNamespace="http://www.profixio.com/soap/services/getCompetition.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/getCompetition.php">
            <xsd:element name="getCompetition">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="associationId" type="xsd:string" nillable="true"/>
                        <xsd:element name="teamSportId" type="xsd:string" nillable="true"/>
                        <xsd:element name="onlyCurrentSeason" type="xsd:boolean" nillable="true"/>
                        <xsd:element name="hasFinished" type="xsd:boolean" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Competition">
                <xsd:sequence>
                    <xsd:element name="CompetitionId" type="xsd:int" nillable="true"/>
                    <xsd:element name="CompetitionName" type="xsd:string" nillable="true"/>
                    <xsd:element name="GameformName" type="xsd:string" nillable="true"/>
                    <xsd:element name="DivisionName" type="xsd:string" nillable="true"/>
                    <xsd:element name="SeasonNameName" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCompetition">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Competition" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getCompetitionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getCompetitionResult" type="tns:ArrayOfCompetition"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getCompetitionPort">
        <operation name="getCompetition">
            <documentation>Used by Associations only.</documentation>
            <input message="tns:getCompetitionIn"/>
            <output message="tns:getCompetitionOut"/>
        </operation>
    </portType>
    <binding name="getCompetitionBinding" type="tns:getCompetitionPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCompetition">
            <soap:operation soapAction="http://www.profixio.com/soap/services/getCompetition.php#getCompetition"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getCompetitionService">
        <port name="getCompetitionPort" binding="tns:getCompetitionBinding">
            <soap:address location="http://www.profixio.com/soap/services/getCompetition.php"/>
        </port>
    </service>
    <message name="getCompetitionIn">
        <part name="parameters" element="tns:getCompetition"/>
    </message>
    <message name="getCompetitionOut">
        <part name="parameters" element="tns:getCompetitionResponse"/>
    </message>
</definitions>
