test/data/validWSDLs11/getMatchesAndTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getMatchesAndTable.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getMatchesAndTable" targetNamespace="http://{{url}}/soap/services/getMatchesAndTable.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getMatchesAndTable.php">
            <xsd:element name="getMatchesAndTable">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="competitionId" type="xsd:string" nillable="true"/>
                        <xsd:element name="fromDate" type="xsd:string" nillable="true"/>
                        <xsd:element name="toDate" type="xsd:string" nillable="true"/>
                        <xsd:element name="MatchGroupId" type="xsd:string" nillable="true"/>
                        <xsd:element name="PlayoffId" type="xsd:string" nillable="true"/>
                        <xsd:element name="TournamentTeamId" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="last_name" type="xsd:string" nillable="true"/>
                    <xsd:element name="first_name" type="xsd:string" nillable="true"/>
                    <xsd:element name="gender" type="xsd:string" nillable="true"/>
                    <xsd:element name="birth_year" type="xsd:string" nillable="true"/>
                    <xsd:element name="birth_date" type="xsd:date" nillable="true"/>
                    <xsd:element name="phone" type="xsd:string" nillable="true"/>
                    <xsd:element name="email" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPerson">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Person" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LeagueRefereeAssignment">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" nillable="true"/>
                    <xsd:element name="PersonGlobalId" type="xsd:string" nillable="true"/>
                    <xsd:element name="RefereeNumber" type="xsd:string" nillable="true"/>
                    <xsd:element name="Person" type="tns:ArrayOfPerson" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLeagueRefereeAssignment">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:LeagueRefereeAssignment" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Match">
                <xsd:sequence>
                    <xsd:element name="MatchId" type="xsd:int" nillable="true"/>
                    <xsd:element name="GameRound" type="xsd:int" nillable="true"/>
                    <xsd:element name="Arena" type="xsd:string" nillable="true"/>
                    <xsd:element name="Field" type="xsd:string" nillable="true"/>
                    <xsd:element name="MatchTimeDateTime" type="xsd:string" nillable="true"/>
                    <xsd:element name="Time" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team1Id" type="xsd:int" nillable="true"/>
                    <xsd:element name="Team1GlobalId" type="xsd:int" nillable="true"/>
                    <xsd:element name="Team1Name" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team2Id" type="xsd:int" nillable="true"/>
                    <xsd:element name="Team2GlobalId" type="xsd:int" nillable="true"/>
                    <xsd:element name="Team2Name" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team1Score" type="xsd:int" nillable="true"/>
                    <xsd:element name="Team2Score" type="xsd:int" nillable="true"/>
                    <xsd:element name="GameResult" type="xsd:string" nillable="true"/>
                    <xsd:element name="GameStatus" type="xsd:int" nillable="true"/>
                    <xsd:element name="UpdateTimeStamp" type="xsd:string" nillable="true"/>
                    <xsd:element name="MatchName" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team1ClubId" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team1ClubGlobalId" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team2ClubId" type="xsd:string" nillable="true"/>
                    <xsd:element name="Team2ClubGlobalId" type="xsd:string" nillable="true"/>
                    <xsd:element name="Winner" type="xsd:string" nillable="true"/>
                    <xsd:element name="SortOrder1" type="xsd:string" nillable="true"/>
                    <xsd:element name="SortOrder2" type="xsd:string" nillable="true"/>
                    <xsd:element name="MatchGroupId" type="xsd:int" nillable="true"/>
                    <xsd:element name="MatchClassId" type="xsd:int" nillable="true"/>
                    <xsd:element name="PersonalResultRegistration" type="xsd:int" nillable="true"/>
                    <xsd:element name="FieldId" type="xsd:string" nillable="true"/>
                    <xsd:element name="ArenaId" type="xsd:string" nillable="true"/>
                    <xsd:element name="FieldGlobalId" type="xsd:string" nillable="true"/>
                    <xsd:element name="ArenaGlobalId" type="xsd:string" nillable="true"/>
                    <xsd:element name="Sets" type="xsd:string" nillable="true"/>
                    <xsd:element name="RefereesAssignments" type="tns:ArrayOfLeagueRefereeAssignment" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMatch">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Match" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MatchTableRow">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="MatchClassId" type="xsd:string" nillable="true"/>
                    <xsd:element name="MatchGroupId" type="xsd:string" nillable="true"/>
                    <xsd:element name="DisplayOrder" type="xsd:string" nillable="true"/>
                    <xsd:element name="Position" type="xsd:string" nillable="true"/>
                    <xsd:element name="PlayoffId" type="xsd:string" nillable="true"/>
                    <xsd:element name="PlayoffLevel" type="xsd:string" nillable="true"/>
                    <xsd:element name="UpdateTimeStamp" type="xsd:string" nillable="true"/>
                    <xsd:element name="a" type="xsd:string" nillable="true"/>
                    <xsd:element name="b" type="xsd:string" nillable="true"/>
                    <xsd:element name="c" type="xsd:string" nillable="true"/>
                    <xsd:element name="d" type="xsd:string" nillable="true"/>
                    <xsd:element name="e" type="xsd:string" nillable="true"/>
                    <xsd:element name="f" type="xsd:string" nillable="true"/>
                    <xsd:element name="g" type="xsd:string" nillable="true"/>
                    <xsd:element name="h" type="xsd:string" nillable="true"/>
                    <xsd:element name="i" type="xsd:string" nillable="true"/>
                    <xsd:element name="j" type="xsd:string" nillable="true"/>
                    <xsd:element name="k" type="xsd:string" nillable="true"/>
                    <xsd:element name="l" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMatchTableRow">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:MatchTableRow" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MatchTable">
                <xsd:sequence>
                    <xsd:element name="Header" type="tns:MatchTableRow" nillable="true"/>
                    <xsd:element name="Rows" type="tns:ArrayOfMatchTableRow" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMatchTable">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:MatchTable" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MatchesAndTable">
                <xsd:sequence>
                    <xsd:element name="Matches" type="tns:ArrayOfMatch" nillable="true"/>
                    <xsd:element name="MatchTables" type="tns:ArrayOfMatchTable" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getMatchesAndTableResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getMatchesAndTableResult" type="tns:MatchesAndTable"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getMatchesAndTablePort">
        <operation name="getMatchesAndTable">
            <documentation>The result can be filteres by MatchGroup (pulje),  PlayoffId for finals etc, or by a team.                           format date: YYYY-MM-DD leave fromDate and toDate empty to retrieve all matches</documentation>
            <input message="tns:getMatchesAndTableIn"/>
            <output message="tns:getMatchesAndTableOut"/>
        </operation>
    </portType>
    <binding name="getMatchesAndTableBinding" type="tns:getMatchesAndTablePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getMatchesAndTable">
            <soap:operation soapAction="http://{{url}}/soap/services/getMatchesAndTable.php#getMatchesAndTable"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getMatchesAndTableService">
        <port name="getMatchesAndTablePort" binding="tns:getMatchesAndTableBinding">
            <soap:address location="http://{{url}}/soap/services/getMatchesAndTable.php"/>
        </port>
    </service>
    <message name="getMatchesAndTableIn">
        <part name="parameters" element="tns:getMatchesAndTable"/>
    </message>
    <message name="getMatchesAndTableOut">
        <part name="parameters" element="tns:getMatchesAndTableResponse"/>
    </message>
</definitions>
