test/data/validWSDLs11/getTournamentDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://{{url}}/soap/services/getTournamentDetails.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="getTournamentDetails" targetNamespace="http://{{url}}/soap/services/getTournamentDetails.php">
    <types>
        <xsd:schema targetNamespace="http://{{url}}/soap/services/getTournamentDetails.php">
            <xsd:complexType name="ClubKey">
                <xsd:sequence>
                    <xsd:element name="club_name" type="xsd:string" nillable="true"/>
                    <xsd:element name="club_licence" type="xsd:string" nillable="true"/>
                    <xsd:element name="application_key" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getTournamentDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ClubKey" type="tns:ClubKey"/>
                        <xsd:element name="TournamentId" type="xsd:int" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="TournamentClass">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" nillable="true"/>
                    <xsd:element name="class_code" type="xsd:string" nillable="true"/>
                    <xsd:element name="description" type="xsd:string" nillable="true"/>
                    <xsd:element name="participant_fee" type="xsd:string" nillable="true"/>
                    <xsd:element name="registration_end_date" type="xsd:string" nillable="true"/>
                    <xsd:element name="registration_closed" type="xsd:boolean" nillable="true"/>
                    <xsd:element name="max_teams" type="xsd:string" nillable="true"/>
                    <xsd:element name="waiting_list" type="xsd:boolean" nillable="true"/>
                    <xsd:element name="born_date_from" type="xsd:string" nillable="true"/>
                    <xsd:element name="born_date_to" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTournamentClass">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:TournamentClass" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MiscellaneousElement">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="klientid" type="xsd:string" nillable="true"/>
                    <xsd:element name="value" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMiscellaneousElement">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:MiscellaneousElement" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Miscellaneous">
                <xsd:sequence>
                    <xsd:element name="Description" type="xsd:string" nillable="true"/>
                    <xsd:element name="MiscellaneousElements" type="tns:ArrayOfMiscellaneousElement" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMiscellaneous">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Category">
                <xsd:sequence>
                    <xsd:element name="age_group" type="xsd:string" nillable="true"/>
                    <xsd:element name="category_id" type="xsd:string" nillable="true"/>
                    <xsd:element name="category_name" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategory">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Category" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Fee">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" nillable="true"/>
                    <xsd:element name="description" type="xsd:string" nillable="true"/>
                    <xsd:element name="comment" type="xsd:string" nillable="true"/>
                    <xsd:element name="amount_per_item" type="xsd:string" nillable="true"/>
                    <xsd:element name="from_date" type="xsd:date" nillable="true"/>
                    <xsd:element name="end_date" type="xsd:date" nillable="true"/>
                    <xsd:element name="optional_sub_choices" type="xsd:string" nillable="true"/>
                    <xsd:element name="order_of_sequence" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFee">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:Fee" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TournamentDetail">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="tournament_name" type="xsd:string" nillable="true"/>
                    <xsd:element name="club" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_shortname" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_url" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_email" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_tlf" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_registration_end_date" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_overnight_registration_end_date" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_player_registration_end_date" type="xsd:string" nillable="true"/>
                    <xsd:element name="street_adress" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_code" type="xsd:string" nillable="true"/>
                    <xsd:element name="postal_town" type="xsd:string" nillable="true"/>
                    <xsd:element name="country_code" type="xsd:string" nillable="true"/>
                    <xsd:element name="tournament_language" type="xsd:string" nillable="true"/>
                    <xsd:element name="max_teams" type="xsd:string" nillable="true"/>
                    <xsd:element name="waiting_list_enabled_tournament_level" type="xsd:boolean" nillable="true"/>
                    <xsd:element name="register_team_shirt" type="xsd:string" nillable="true"/>
                    <xsd:element name="sportCode" type="xsd:string" nillable="true"/>
                    <xsd:element name="startdate" type="xsd:date" nillable="true"/>
                    <xsd:element name="enddate" type="xsd:date" nillable="true"/>
                    <xsd:element name="ekstrainfo" type="xsd:string" nillable="true"/>
                    <xsd:element name="ekstrainfo_spiller" type="xsd:string" nillable="true"/>
                    <xsd:element name="register_team_contact_email" type="xsd:string" nillable="true"/>
                    <xsd:element name="TournamentClasses" type="tns:ArrayOfTournamentClass" nillable="true"/>
                    <xsd:element name="Miscellaneous" type="tns:ArrayOfMiscellaneous" nillable="true"/>
                    <xsd:element name="Categories" type="tns:ArrayOfCategory" nillable="true"/>
                    <xsd:element name="Fee" type="tns:ArrayOfFee" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getTournamentDetailsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getTournamentDetailsResult" type="tns:TournamentDetail"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="getTournamentDetailsPort">
        <operation name="getTournamentDetails">
            <documentation>Returns detailed information about a tournament.</documentation>
            <input message="tns:getTournamentDetailsIn"/>
            <output message="tns:getTournamentDetailsOut"/>
        </operation>
    </portType>
    <binding name="getTournamentDetailsBinding" type="tns:getTournamentDetailsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getTournamentDetails">
            <soap:operation soapAction="http://{{url}}/soap/services/getTournamentDetails.php#getTournamentDetails"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getTournamentDetailsService">
        <port name="getTournamentDetailsPort" binding="tns:getTournamentDetailsBinding">
            <soap:address location="http://{{url}}/soap/services/getTournamentDetails.php"/>
        </port>
    </service>
    <message name="getTournamentDetailsIn">
        <part name="parameters" element="tns:getTournamentDetails"/>
    </message>
    <message name="getTournamentDetailsOut">
        <part name="parameters" element="tns:getTournamentDetailsResponse"/>
    </message>
</definitions>
