test/data/validWSDLs11/newAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.profixio.com/soap/services/newAuth.php"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="newAuth" targetNamespace="http://www.profixio.com/soap/services/newAuth.php">
    <types>
        <xsd:schema targetNamespace="http://www.profixio.com/soap/services/newAuth.php">
            <xsd:element name="newAuth">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="application_key" type="xsd:string"/>
                        <xsd:element name="association" type="xsd:string" nillable="true"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="newAuthResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="newAuthResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="newAuthPort">
        <operation name="newAuth">
            <documentation>Used by Associatons only</documentation>
            <input message="tns:newAuthIn"/>
            <output message="tns:newAuthOut"/>
        </operation>
    </portType>
    <binding name="newAuthBinding" type="tns:newAuthPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="newAuth">
            <soap:operation soapAction="http://www.profixio.com/soap/services/newAuth.php#newAuth"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="newAuthService">
        <port name="newAuthPort" binding="tns:newAuthBinding">
            <soap:address location="http://www.profixio.com/soap/services/newAuth.php"/>
        </port>
    </service>
    <message name="newAuthIn">
        <part name="parameters" element="tns:newAuth"/>
    </message>
    <message name="newAuthOut">
        <part name="parameters" element="tns:newAuthResponse"/>
    </message>
</definitions>
