test/data/validWSDLs11/sampleService.wsdl

<wsdl:definitions
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"
    xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://tempuri.org/" name="ISampleService">
  <wsdl:types>
      <xsd:schema elementFormDefault="unqualified" targetNamespace="http://tempuri.org/">
          <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
          <xsd:element name="Test">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="inputString" type="xsd:string" />
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
          <xsd:element name="TestResponse">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="TestResult" type="xsd:string" />
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
          <xsd:element name="XmlMethod">
              <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="XmlMethodRequest" type="xsd:string" />
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
          <xsd:element name="XmlMethodResponse">
              <xsd:complexType />
          </xsd:element>
          <xsd:element name="TestCustomModel">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="inputModel" type="tns:MyCustomModel" />
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
          <xsd:element name="TestCustomModelResponse">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="TestCustomModelResult" type="tns:MyCustomModel" />
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
          <xsd:complexType name="MyCustomModel">
              <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="Email" type="xsd:string" />
              </xsd:sequence>
          </xsd:complexType>
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_Test_InputMessage">
      <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Test_OutputMessage">
      <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_XmlMethod_InputMessage">
      <wsdl:part name="parameters" element="tns:XmlMethod" />
  </wsdl:message>
  <wsdl:message name="ISampleService_XmlMethod_OutputMessage">
      <wsdl:part name="parameters" element="tns:XmlMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_TestCustomModel_InputMessage">
      <wsdl:part name="parameters" element="tns:TestCustomModel" />
  </wsdl:message>
  <wsdl:message name="ISampleService_TestCustomModel_OutputMessage">
      <wsdl:part name="parameters" element="tns:TestCustomModelResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
      <wsdl:operation name="Test">
          <wsdl:input message="tns:ISampleService_Test_InputMessage" />
          <wsdl:output message="tns:ISampleService_Test_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="XmlMethod">
          <wsdl:input message="tns:ISampleService_XmlMethod_InputMessage" />
          <wsdl:output message="tns:ISampleService_XmlMethod_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="TestCustomModel">
          <wsdl:input message="tns:ISampleService_TestCustomModel_InputMessage" />
          <wsdl:output message="tns:ISampleService_TestCustomModel_OutputMessage" />
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding" type="tns:ISampleService">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Test">
          <soap:operation soapAction="http://tempuri.org/ISampleService/Test" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="XmlMethod">
          <soap:operation soapAction="http://tempuri.org/ISampleService/XmlMethod" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TestCustomModel">
          <soap:operation soapAction="http://tempuri.org/ISampleService/TestCustomModel" style="document" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISampleService">
      <wsdl:port name="BasicHttpBinding" binding="tns:BasicHttpBinding">
          <soap:address location="https://localhost:5001/Service.asmx" />
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
