test/data/validWSDLs11/targetNamespacePrefix.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:tns="http://www.dataaccess.com/webservicesserver/" 
             name="TextCasing" 
             targetNamespace="http://www.dataaccess.com/webservicesserver/">

  <types>
    <xs:schema elementFormDefault="qualified"
               targetNamespace="http://www.dataaccess.com/webservicesserver/">
      <xs:element name="TitleCaseWordsWithToken">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sText" type="xs:string"/>
            <xs:element name="sToken" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TitleCaseWordsWithTokenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TitleCaseWordsWithTokenResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="TitleCaseWordsWithTokenSoapRequest">
    <part name="parameters" element="tns:TitleCaseWordsWithToken"/>
  </message>

  <message name="TitleCaseWordsWithTokenSoapResponse">
    <part name="parameters" element="tns:TitleCaseWordsWithTokenResponse"/>
  </message>

  <portType name="TextCasingSoapType">
    <operation name="TitleCaseWordsWithToken">
      <input message="tns:TitleCaseWordsWithTokenSoapRequest"/>
      <output message="tns:TitleCaseWordsWithTokenSoapResponse"/>
    </operation>
  </portType>

  <binding name="TextCasingSoapBinding" type="tns:TextCasingSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TitleCaseWordsWithToken">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TextCasing">
    <port name="TextCasingSoap" binding="tns:TextCasingSoapBinding">
      <soap:address location="{{TextCasingSoapBaseUrl}}/webservicesserver/TextCasing.wso"/>
    </port>
  </service>
</definitions>
