test/data/validWSDLs11/temperatureConverterHTTP.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="https://www.w3schools.com/xml/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://www.w3schools.com/xml/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="https://www.w3schools.com/xml/">
            <s:element name="FahrenheitToCelsius">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Fahrenheit" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FahrenheitToCelsiusResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="FahrenheitToCelsiusResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CelsiusToFahrenheit">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Celsius" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CelsiusToFahrenheitResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CelsiusToFahrenheitResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string" />
        </s:schema>
    </wsdl:types>
    <wsdl:message name="FahrenheitToCelsiusHttpPostIn">
        <wsdl:part name="Fahrenheit" type="s:string" />
    </wsdl:message>
    <wsdl:message name="FahrenheitToCelsiusHttpPostOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:message name="CelsiusToFahrenheitHttpPostIn">
        <wsdl:part name="Celsius" type="s:string" />
    </wsdl:message>
    <wsdl:message name="CelsiusToFahrenheitHttpPostOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:portType name="TempConvertHttpPost">
        <wsdl:operation name="FahrenheitToCelsius">
            <wsdl:input message="tns:FahrenheitToCelsiusHttpPostIn" />
            <wsdl:output message="tns:FahrenheitToCelsiusHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="CelsiusToFahrenheit">
            <wsdl:input message="tns:CelsiusToFahrenheitHttpPostIn" />
            <wsdl:output message="tns:CelsiusToFahrenheitHttpPostOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TempConvertHttpPost" type="tns:TempConvertHttpPost">
        <http:binding verb="POST" />
        <wsdl:operation name="FahrenheitToCelsius">
            <http:operation location="/FahrenheitToCelsius" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CelsiusToFahrenheit">
            <http:operation location="/CelsiusToFahrenheit" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TempConvert">
        <wsdl:port name="TempConvertHttpPost" binding="tns:TempConvertHttpPost">
            <http:address location="http://www.w3schools.com/xml/tempconvert.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
