test/data/schemasToMerge/2schemvasvalid.wsdl

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="AccountHolderDetails">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element minOccurs="0" name="address" nillable="true" type="Address" />
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
