test/data/schemasToMerge/3schemas.wsdl

<wsdl:definitions targetNamespace="http://{{url}}/xi/A1S/Global"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:rfc="urn:sap-com:sap:rfc:functions"
  xmlns:tns="http://{{url}}/xi/A1S/Global"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:n2="http://{{url}}/xi/SAPGlobal20/Global"
  xmlns:n5="http://{{url}}/xi/AP/Common/GDT">
  <wsdl:types>
    <xsd:schema targetNamespace="http://{{url}}/xi/A1S/Global"
      xmlns:xi20="http://{{url}}/xi/AP/Common/GDT"
      xmlns="http://{{url}}/xi/A1S/Global">
      <xsd:import namespace="http://{{url}}/xi/AP/Common/GDT"/>
      <xsd:complexType name="PurchaseOrderUploadItem">
        <xsd:sequence>
          <xsd:group ref="PurchaseOrderUploadItemGloExtension"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:group name="PurchaseOrderUploadItemGloExtension">
        <xsd:sequence>
          <xsd:element name="HSNCodeIndiaCode" minOccurs="0" form="qualified" type="xi20:ProductTaxStandardClassificationCode"/>
        </xsd:sequence>
      </xsd:group>
      <xsd:complexType name="PurchaseOrderUploadRequest">
        <xsd:sequence>
          <xsd:element name="Item" type="PurchaseOrderUploadItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchaseOrderUploadRequestMessage_sync">
        <xsd:sequence>
          <xsd:element name="PurchaseOrder" type="PurchaseOrderUploadRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://{{url}}/xi/AP/Common/GDT"
      xmlns:xi20="http://{{url}}/xi/AP/Common/GDT"
      xmlns="http://{{url}}/xi/AP/Common/GDT">
      <xsd:complexType name="ProductTaxStandardClassificationCode">
        <xsd:simpleContent>
          <xsd:extension base="ProductTaxStandardClassificationCode.Content">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="ProductTaxStandardClassificationCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="16"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://{{url}}/xi/SAPGlobal20/Global"
      xmlns:xi15="http://{{url}}/xi/A1S/Global"
      xmlns="http://{{url}}/xi/SAPGlobal20/Global">
      <xsd:import namespace="http://{{url}}/xi/A1S/Global"/>
      <xsd:element name="PurchaseOrderUploadRequest_sync" type="xi15:PurchaseOrderUploadRequestMessage_sync"/>
    </xsd:schema>
  </wsdl:types>
</wsdl:definitions>
