test/data/schemasToMerge/4schemas.wsdl

<wsdl:definitions xmlns:ns1="http://common.services.adyen.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://account.marketplace.services.adyen.com"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://account.marketplace.services.adyen.com">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="CustomerType">
        <xsd:sequence>
          <xsd:element name="name" type="CustNameType"/>
          <xsd:element name="number" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CustNameType">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/ord"
      xmlns="http://example.org/ord"
      xmlns:prod="http://example.org/prod">
      <xsd:include schemaLocation="../../test/data/multipleSchemaValidationLINT/chapter04ord2.xsd"/>
      <xsd:include schemaLocation="../../test/data/multipleSchemaValidationLINT/chapter04cust.xsd"/>
      <xsd:import namespace="http://example.org/prod" schemaLocation="../../test/data/multipleSchemaValidationLINT/chapter04prod.xsd"/>
      <xsd:element name="order" type="OrderType"/>
      <xsd:complexType name="OrderType">
        <xsd:sequence>
          <xsd:element name="number" type="OrderNumType"/>
          <xsd:element name="customer" type="CustomerType"/>
          <xsd:element name="items" type="prod:ItemsType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns="http://example.org/ord" targetNamespace="http://example.org/ord">
      <xsd:simpleType name="OrderNumType">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns="http://example.org/prod" targetNamespace="http://example.org/prod">
      <xsd:complexType name="ItemsType">
        <xsd:sequence>
          <xsd:element name="product" type="ProductType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductType">
        <xsd:sequence>
          <xsd:element name="number" type="xsd:integer"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="size" type="SizeType"/>
          <xsd:element name="color" type="ColorType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SizeType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:integer">
            <xsd:attribute name="system" type="xsd:string"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ColorType">
        <xsd:attribute name="value" type="xsd:string"/>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
</wsdl:definitions>
